#idea
*.iml
.idea/
out/
bin/
venv/

# maven
target/
dependency-reduced-pom.xml

# gradle
.gradle/


# eclipse
.classpath
.project
.settings/
bin/
.springBeans
.sts4-cache
.factorypath
.apt_generated
.apt_generated_tests
